@import url(./typography.css);

.banner-section{
    padding-top  : 112px;
}
.img-pattern,.icon-btn{
    position: absolute;
    bottom: 0;
    /* z-index: -1;  */
    left: 50%;
    
    overflow: hidden;
    transform: translate(-50%,45%);
}
.img-pattern>img{
    animation: img-roated 20s linear infinite ;
    filter: contrast(50%);
}

.icon-btn{
    bottom: 50%;
}
main section{
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-top) ;
    height: var(--section-height);
    /* padding-left: 16px;
    padding-right: 16px; */
}
.heading_before_style{
    color: var(--bg-primary) ;   
}
.heading_before_style::before{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    z-index: -1;
    background-color: var(--color-secoundary);
}

.desc_title,.desc{
    margin-bottom: 32px;
}

.social-media-icon{
    display: flex;
    list-style: none;
    padding: 0;
}
.social-media-icon>li{
    margin-right: 12px;
}
.social-media-icon svg:hover >path{
    fill:var(--color-primary);
    
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


@keyframes img-roated {
    to{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
}
@media only screen 
   and (min-width : 320px) {
   .forward-btn{
       width: 70px;
    }
   .logo_img{
       width: 130px;
    }
    .pattern{
        width: 110px;
    }

}
@media only screen 
and (min-width : 768px) {
    
    .forward-btn{
        width: 90px;
    }
    .logo_img{
        width: 170px;
    }
    .pattern{
        width: unset;
    }

}
@media only screen 
and (min-width : 1200px) {

}
@media only screen 
and (min-width : 992px) {


    .nav-link{
        display: inline-block;
        overflow: hidden;
        padding: 8px 32px;
        position: relative;
    }
    .nav-link>span::before , .nav-link>span::after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--color-primary) ;
        display: block;
        /* border-radius: 5p    ; */
        transition: all 0.4s ease-in-out;
    }
    .nav-link>span::before {
        top: 0;
        left: 0;
    } .nav-link>span::after {
        bottom: 0;
        right: 0;
    }

    .nav-link:hover> span::before,.nav-link:hover> span::after{
        width: 100%;
    }

    .nav-btn>span::before,.nav-btn>span::after{
        content: none !important;
    }

}