@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&family=Roboto&display=swap');
@import url(./custom_properties.css);

body{
    font-family: var(--heading-font);
}
h1,h2,h3,h4,h5,h6,p{
    /* font-family: var(--global-font); */
    margin: 0;
    
}   
h1{
    font-size:var(--font-size);
}
